<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Course name</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_id %></td>
        <td><%= course.course_name %></td>
        <td><%= course.state %></td>
      </tr>
      <tr>
        <table bgcolor="#00FF00">
          <% course.get_active_students.each do |student| %>
            <tr>
              <td><%= student.user_id %></td>
              <td><%= student.user_name %></td>
              <td><%= student.state %></td>
          </tr>
          <% end %>
        </table>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
